[submodule "ru-menu-scraper"]
	path = ru-menu-scraper
	url = https://github.com/ghlps/ru-menu-scraper
[submodule "ru-menu-counter"]
	path = ru-menu-counter
	url = https://github.com/ghlps/ru-menu-counter
[submodule "ru-menu-whatsapp"]
	path = ru-menu-whatsapp
	url = https://github.com/ghlps/ru-menu-whatsapp
